@use "./base" as *;

body {
	min-height: 100vh;
	min-height: 100dvh;
	font-size: $fs-16;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-700;
	background-color: $clr-neutral-150;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 3.375rem;

	@include media(large) {
		padding-block: 5rem;
	}
}

.hero {
	text-align: center;
	margin-bottom: calc(remSize(80px) + 5.25rem);
	overflow: hidden;

	@include media(large) {
		display: flex;
		align-items: center;
		margin-bottom: calc(remSize(117px) + 5.25rem);
		overflow: visible;
	}

	&-img {
		max-width: 120%;

		@include media(large) {
			transform: translateY(-16%);
			max-width: 100%;
		}
	}

	&-img-right {
		display: none;

		@include media(large) {
			display: block;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3rem;
		max-width: remSize(457px);
		margin-inline: auto;

		@include media(small) {
			margin-top: 4.5rem;
		}

		@include media(large) {
			max-width: remSize(540px);
			margin-top: 0;
		}
	}

	&-header {
		max-width: 10ch;
		font-size: $fs-40;
		line-height: 1.1;
		font-weight: $fw-bold;

		@include media(small) {
			font-size: $fs-48;
		}
	}

	&-desc {
		margin-top: 1.5rem;
		padding-inline: 1.5rem;
		color: $clr-primary-100;
		line-height: 1.625;
	}

	&-links {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		@include media(medium) {
			flex-direction: row;
		}
	}
}

.gallery {
	margin-top: 4rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;

	@include media(large) {
		gap: 2rem;
	}

	&-img {
		width: calc(50% - 1rem);
		max-width: 164px;
		border-radius: 10px;

		@include media(medium) {
			width: calc(25% - 1rem);
		}

		@include media(large) {
			max-width: 255px;
		}
	}
}

.description {
	margin-top: 3.75rem;
	text-align: center;
	max-width: remSize(640px);

	@include media(large) {
		margin-top: 4.5rem;
		max-width: remSize(500px);
	}

	&-eyebrow {
		font-weight: $fw-bold;
		text-transform: uppercase;
		color: $clr-primary-400;
		letter-spacing: remSize(4px);
		line-height: 1.625;
	}

	&-heading {
		margin-top: 1.5rem;
		font-weight: $fw-bold;
		font-size: $fs-32;
		line-height: 1.125;

		@include media(medium) {
			margin-top: 1rem;
		}
	}

	&-para {
		margin-top: 2rem;
		color: $clr-primary-100;
		line-height: 1.625;
	}
}

.footer {
	padding: 92px 24px 72px;
	margin-top: remSize(176px);
	text-align: center;
	color: $clr-neutral-150;

	background: url("/img/mobile/image-footer.jpg");
	background-size: cover;

	isolation: isolate;

	@include pseudo {
		inset: 0;
		background-color: $clr-primary-400;
		opacity: 0.9;
		z-index: -1;
	}

	@include media(medium) {
		margin-top: remSize(192px);
	}

	@include media(large) {
		margin-top: remSize(184px);
	}

	&-heading {
		margin-bottom: 1.5rem;
		font-size: $fs-32;
		font-weight: $fw-bold;
		line-height: 1.125;
	}

	&-para {
		margin-bottom: 2rem;
		font-size: $fs-18;
		line-height: 1.44;
	}

	.circle-counter {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
